# Base de datos (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=study_manager

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@study.com
PGADMIN_DEFAULT_PASSWORD=admin123

# API
PORT=3000

# Prisma connection string (Docker network)
DATABASE_URL="postgresql://postgres:postgres@db:5432/study_manager?schema=public"
